.div1{
    text-align: center;
    background-color: #8AC97E;
    padding: 15px;
    color: white;
    font-weight: bold;
}
.navbar{
    display: flex;
    gap: 37px;
    text-align: center;
    

}
#rasi{
    float: left;
    font-size: 25px;


}
.navbar a{
    text-decoration: none;
    font-weight: bolder;
    color: white;
    text-align: center;

}
.mimi{
    background-image: url(IMAGES/image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    width: 100%;

}
.back{
    font-size: 60px;
    color: white;


}
.words{
    font-size: 30px;
    color: white;
    font-weight:bold ;
}
.btn1{
    padding: 15px;
    border-radius: 5px;
}




































/* ==== Footer */
.footer{
    display: flex;
    gap: 10%;
    background-color: #00072D;
    color: white;
}
.foot{
    display: grid;
    grid-template-columns: repea(4, 1fr);
}